* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: 'Muller';
    font-weight: 400;
    font-style: normal;
    background-color: #e5e5e5;
}

/* Хедер */

header {
    margin-top: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.header-infobar {
    display: flex;
}

.header-left {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.mphone {
    margin-left: 40px;
    color: #666;
    transition: 0.2s all ease;
}

.mphone:hover {
    color: #CC9933;
}

.header-right {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.personal {
    display: flex;
    color: #CC9933;
    align-items: center;
    transition: 0.3s all ease;
}

.personal:hover {
    color: rgba(233, 196, 121, 1);
}

.backspace-icon {
    fill: #CC9933;
    margin-right: 7px;
    transform: translateY(-2px);
}

.backspace-icon:hover {
    fill: rgba(233, 196, 121, 1);
}

/* Навигация */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 30px;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    display: flex;
    font-size: 16px;
    line-height: 16px;
    color: #666;
    padding: 14px 0px 14px 0px;
}

.navbar-link {
    color: #666;
    transition: 0.2s all ease;
}

.navbar-link:hover {
    color: #CC9933;
}

.navbar-item:not(:last-child) {
    margin-right: 45px;
}

.navbar-right {
    display: flex;
    border-left: 1px solid #e1e1e1;
}

.navbar-tour-btn {
    border: 1px solid #CC9933;
    padding: 13px 20px;
    border-radius: 10px;
    color: #CC9933;
    margin-right: 45px;
    transition: 0.3s all ease;
}

.navbar-tour-btn:not(:last-child) {
    margin-right: 40px;
    margin-left: 57px;
}

.navbar-tour-btn:hover {
    color: #fff;
    background-color: #CC9933;
}

.section-heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 11px;
    color:rgba(51, 51, 51, 1);
}



/* Спецпредложения */
.special-offers-heading {
    margin-bottom: 20px;
}

.section-special-offer {
    margin-top: 70px;
}

.special-offers {
    display: flex;
    justify-content: center;
}

.special-offer-hotel-left {
    display: flex;
    flex-direction: column;
    flex: 0 11 50%;
    margin-right: 23px;
}

.left-card-1 {
    background: linear-gradient(90deg,rgba(48, 64, 89, 0.84) , rgba(53, 65, 83, 0) 65.7%) ,  url("/img/M_island.png") no-repeat;
    background-size: cover;
    margin-bottom: 23px;
    padding: 40px;
    border-radius: 1rem;
}

.left-card-2 {
    background: linear-gradient(90deg,rgba(48, 64, 89, 0.84) , rgba(53, 65, 83, 0) 65.7%) ,  url("/img/C_island.png") no-repeat;
    background-size: cover;
    padding: 40px;
    border-radius: 1rem;
}

.section-special-offer-name-left {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    max-width: 295px;
    margin: 0px 0px 15px 0px;
}

.section-special-offer-price-left {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px 0px 47px 0px;
    color: #fff;
}

.section-special-offer-link-left {
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.section-more {
    display: flex;
    align-items: center;
}

.section-more:hover {
    color: #FFCC66;
}

.rectangle-icon {
    margin-left: 3px;
}

.right-card-1 {
    background: url(/img/Lux.png) no-repeat;
    background-size: cover;
    flex: 1 1 auto;
    padding: 211px 40px 0px 40px;
    border-radius: 1rem;
}

.special-offer-hotel-right {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.section-special-offer-name-right {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    max-width: 300px;
    color: #fff;
    margin: 0 0 15px 0;
}

.section-special-offer-price-right {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 47px 0%;
}

.section-special-offer-link-right {
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

/* О нас  */

.section-about-us {
    margin-top: 70px;
}

.section-heading-testimonial {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 0;
    max-width: 76%;
}


/* Услуги */

.section-services {
    margin-top: 70px;
}

.section-services-offer-link {
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    color: rgba(204, 153, 51, 1);
}
.section-services-offers {
    display: flex;
}

.section-services-offer-left {
    margin-right: 23px;
    margin-bottom: 23px;
}

.section-services-offer-left-1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding-bottom: 50px;
    margin-bottom: 23px;
}

.section-services-offer-left-2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding-bottom: 50px;
}

.section-services-offer-right-1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding-bottom: 50px;
    margin-bottom: 23px;
}

.section-services-offer-right-2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    padding-bottom: 50px;
}

.section-services-offer-link {
    margin-left: 45px;
}

.offer-description {
    margin: 0px 0px 0px 45px;
}

.offer-img {
    padding-bottom: 15px;
}

/* Преимущества */

.section-benefits {
    margin-top: 70px;
}

.section-benefits-list {
    display: flex;
    flex-flow: wrap;
}

.section-benefits-item {
    background-color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 23px;
    margin-right: 23px;
    flex: 1 1 20%;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 40px 42px 30px 45px;
}

.section-benefits-item-description {
    margin: 0;
}

.section-benefits-item:nth-child(4n) {
    margin-right: 0px;
}

/* Размещение */

.section-accommodation {
    margin-top: 70px;
}

.section-accomodation-heading {
    margin-bottom: 20px;
}

.section-accomodation-offer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.section-accommodation-offer-item {
    margin-bottom: 23px;
    border: #fff;
    border-radius: 15px;
    background-color: #fff;
}

.section-accommodation-offer-price {
    margin-left: 45px;
    margin-top: 36px;
    margin-bottom: 0;
}

.section-accommodation-offer-hotel {
    margin-left: 45px;
    margin-top: 16px;
    margin-bottom: 0;
}

.section-accommodation-offer-location {
    margin-left: 45px;
    margin-top: 16px;
    margin-bottom: 0;
}

.section-accommodation-offer-btn {
    display: inline-block;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 41px;
    padding: 13px 20px;
    border: 1px solid rgba(204, 153, 51, 1);
    border-radius: 10px;
    color: rgba(204, 153, 51, 1);
    transition: 0.3s all ease;
}

.section-accommodation-offer-btn:hover {
    color: #fff;
    background-color: rgba(204, 153, 51, 1);
}

.section-accommodation-offer-showall-btn {
    display: flex;
    align-items: center;
    position: relative;
    top: -70px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFF;
}

.section-accommodation-offer-last-item {
    margin-bottom: 23px;
    border: #fff;
    border-radius: 15px;
    background-color: #fff;
    background-image: url(../img/Showall.png);
    background-size: cover;
    background: no-repeat;
}

.section-accommodation-offer-last-item {
    height: 440px;
}

.offer-showall-icon {
    margin-left: 10px;
}

/* Хочу тур */
.section-tour {
    margin-top: 70px;
    margin-bottom: 50px;
}

.section-heading-tour {
    color: #000;
}

.section-tour-form {
    padding: 45px;
    background: #cccccc;
    border-radius: 15px;
}

.form {
    display: flex;
    padding: 31px 28px;
    background-color: #fff;
    border-radius: 15px;
}

.form-list {
    display: flex;
}

.form-item {
    margin-right: 15px;
}

.form-item-name {
    margin-top: 0px;
    margin-bottom: 15px;
}


.input {
    border: 0;
    border-bottom: 1px solid #E9E9E9;
    font-size: 16px;
    max-width: 170px;
}

.btn-submit {
    align-self: center;
    padding: 13px 30px;
    margin-left: 35px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: #fff;
    color: #CC9933;
    transition: 0.3s all ease;
    font-family: 'Muller';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.btn-submit:hover {
    color: #fff;
    background-color: #CC9933;
}

/* Контакты */

.section-contacts {
    margin-top: 70px;
    margin-bottom: 40px;
}

.section-heading-tour {
    margin-bottom: 20px;
}

.section-contact-form {
    display: flex;
    background-color: #fff;
    padding: 45px;
    border-radius: 1rem;
}

.section-contact-form-left {
    margin-right: 52px;
    flex: 0 0 33.33%;
}

.section-contact-item-adress {
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    margin-right: 27px;
    border-bottom: 1px solid #e1e1e1;
}

.section-contact-item-phone {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 23px;
    margin-right: 27px;
    border-bottom: 1px solid #e1e1e1;
}

.section-contact-item-mail {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #e1e1e1;
}

.mails {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.section-contact-item-schedule {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 23px;
    margin-right: 27px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.section-contact-item-heading {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}

.section-contact-item-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-left: auto;
    max-width: 195px;
    color: #000;
    flex: 0 0 60%;
}

.section-contact-mail-description {
    display: flex;
    margin-left: 0px;
}

.section-contact-form-right {
    background-image: url(../img/Lagoona_reception.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    flex: 0 1 66.66%;
    border-radius: 1rem;
}

.section-contact-mail-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999;
}

.mail-link,
.phone-link {
    color: #CC9933;
}

.section-contact-btn {
    padding: 27px 30px;
    border: 1px solid #CC9933;
    border-radius: 15px;
    transition: 0.3s all ease;
    line-height: 1;
    max-width: 220px;
    text-align: center;
    color: #CC9933;
    
}

.section-contact-btn:hover {
    color: #fff;
    background-color: #CC9933;
}

.footer-container {
    display: flex;
    background-color: #333;
    padding: 45px;
    border-radius: 15px;
}

.footer-copyright {
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    color: #fff;
    flex: 0 0 29%
}

.footer-copyright-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-copyright-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
}

.footer-copyright-link {
    color: #CC9933;
}

.footer-contacts{
    flex: 0 0 45%;
}

.footer-contacts-list {
    list-style: none;
    padding-left: 0;
}

.footer-contacts-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
}

.footer-contacts-item {
    margin-left: 125px;
    font-style: normal;
}

.footer-contacts-adress {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
}

.footer-contacts-phone {
    color: #CC9933;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-contacts-mail {
    color: #CC9933;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-img {
    position: relative;
    top: 83px;
    right: 80px;
}

.footer-link {
    justify-content: flex-end;
}

.footer-icon-list {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 256px;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.footer-icon-item {
    margin-bottom: 20px;
}
